# OSX
#
.DS_Store

# Xcode
#
Shelf-Life-Native/build/
*/ios/*

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# CocoaPods
#
/ios/Pods/*

# Expo
#
Shelf-Life-Native/.expo/*
web-build/

# Custom
#
/Shelf-Life-Native/android/java_pid15484.hprof
/Shelf-Life-Native/android/gradlew
/Shelf-Life-Native/ios/Podfile.lock
Shelf-Life-Native/android/java_pid17317.hprof
